<h1>shopping list</h1>

<table class="table table-striped">
<thead>
  <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th> 
  </tr>
</thead>
<tbody>
  <%= @result %>
  <% @items.each do |item| %>
  <tr>
  <% if %>
  <%(item.quantity - item.food.quantity).positive? %>
  <td> <%= item.food.name%> </td>
  <td> <%= item.quantity - item.food.quantity %> </td>
  <td> $<%= (item.quantity - item.food.quantity)*item.food.price %> </td>
  <% end %>
  <% end %>
    
      </tr>
</tbody>
</table>