  <div class="navigation">
    <%=link_to "Your Recipes", root_path %>
    <%= link_to "All Public Recipes", public_recipes_path %> <%# TBI - check later %>
    <%= link_to "Food Items", foods_path %>  
    <%= link_to "Shopping List", root_path %>  <%# TBI - check later %>
  </div>